#ext-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#ext-container #menu-container .create-new-button {
    float: right;
    width: 80px;
    background-color: #0078d7;
    border-color: #0078d7;
    color: #ffffff;
    height: 32px;
    line-height: 32px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
}

#ext-container #menu-container .create-new-button:hover,
#ext-container #menu-container .create-new-button:focus {
    background-color: #005a9e;
    border-color: #005a9e;
}

#ext-container .rule-button {
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
    display: inline-block;    
    padding: 7px;    
    width: 130px;     
    text-align: center;
    border-radius: 5px;
    height: 30px;
    position: relative;
}

#ext-container .rule-button .status-indicator.center {
    position: absolute;
    top: 0;
}

#ext-container .rule-button:not(.rule-disabled) {
    cursor: pointer;
}

#ext-container .rule-button.rule-disabled {
    background-color: #e7e7e7;
}

#ext-container .rule-button .rule-button-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;    
    color: #fff;
    line-height: 15px;
}

#ext-container .rule-button.rule-disabled .rule-button-text {
    color: #9c9c9c;
} 

#ext-container .rule-button.edit-mode .rule-button-text {
    margin-right: 20px;
}

#ext-container .rule-button .menu-bar {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: normal;
    background-color: #444;
    padding: 0px 2px;
}

#ext-container .rule-button .menu-bar > .menu-item {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}

#ext-container .rule-button .menu-bar .bowtie-edit {
    color: #FFFFFF;
}